<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project.
For Azure App Service deployment.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishUrl>https://flightfinder-api.scm.azurewebsites.net/</PublishUrl>
    <SiteUrlToLaunchAfterPublish>https://flightfinder-api.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/{subscription-id}/resourceGroups/{resource-group}/providers/Microsoft.Web/sites/flightfinder-api</ResourceId>
    <UserName>$flightfinder-api</UserName>
    <_SavePWD>true</_SavePWD>
    <TargetFramework>net9.0</TargetFramework>
    <SelfContained>false</SelfContained>
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
  </PropertyGroup>
</Project>
